h1, h2, h3, h4, h5, h6, a, span, i, body {
  font-family: 'Source Sans Pro', sans-serif; }

a:hover {
  text-decoration: none; }

.panel-1 {
  padding: 22% 10% 22% 10%;
  width: 100%; }
  .panel-1 .welcome-box {
    text-align: center; }
    .panel-1 .welcome-box h1 {
      font-weight: bold;
      font-size: 60px;
      line-height: .5em; }
    .panel-1 .welcome-box h2 {
      color: #2C86E8;
      line-height: .6em; }
    .panel-1 .welcome-box .social-box {
      margin-top: 15px; }
      .panel-1 .welcome-box .social-box .glyph-icon {
        color: #2C86E8;
        font-size: 30px;
        margin: 0 15px; }

#toggle-nav {
  display: none;
  background-color: #EEEFF1; }

.navbar {
  border: 0;
  margin-bottom: 0; }
  .navbar .navbar-center {
    margin-left: 5%; }
  .navbar .navbar-right li {
    width: 48px; }
  .navbar .navbar-right .glyph-icon {
    color: #2C86E8;
    font-size: 18px; }

.panel-2 {
  background-color: #fafafa;
  padding: 100px 0; }
  .panel-2 .projects {
    width: 80%;
    margin: 0 auto; }
    .panel-2 .projects .img-box {
      width: 100%; }
      .panel-2 .projects .img-box img {
        cursor: pointer;
        border: 2px solid #fafafa;
        height: 160px;
        margin-bottom: 15px; }
      .panel-2 .projects .img-box img:hover {
        border: 2px solid #2C86E8; }
    .panel-2 .projects .col-md-4 {
      margin-top: 50px; }
    .panel-2 .projects a {
      cursor: pointer;
      color: #000;
      font-size: 20px; }
    .panel-2 .projects a:hover {
      color: #2C86E8; }
    .panel-2 .projects h5 {
      line-height: .5em; }
