#toggle-nav {
  background-color: #232323; }

.navbar {
  border: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 0 2%; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #1eb954; }
  .navbar a {
    color: #1eb954; }
  .navbar .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #fafafa; }
  .navbar .navbar-center {
    margin-left: 5%; }
  .navbar .navbar-right a {
    color: #fafafa;
    font-weight: bold;
    font-size: 16px; }
  .navbar .navbar-right a:hover, .navbar .navbar-right a:focus {
    background-color: transparent;
    color: #1eb954; }
  .navbar .navbar-right .active {
    color: #1eb954; }
  .navbar .navbar-right li:hover {
    background-color: none; }
  .navbar .navbar-right li {
    margin-right: 25px; }

.project-nav {
  background-color: #232323; }
  .project-nav .navbar-right a {
    color: #fafafa; }
  .project-nav .navbar-right h4 {
    cursor: pointer;
    margin-top: 17px;
    color: #fafafa;
    font-weight: bold;
    font-size: 16px;
    margin-left: 18px; }
  .project-nav .navbar-brand {
    color: #fafafa; }

@media (min-width: 40.063em) {
  .navbar .navbar-brand {
    font-size: 25px; }
  .project-nav .navbar-right h4 {
    margin-left: 0; }
  #toggle-nav {
    background-color: transparent;
    transition: background-color 0.5s ease; } }

.main-panel {
  width: 100%;
  height: 100%; }
  .main-panel .welcome-box {
    padding: 66% 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/header.jpg");
    background-size: cover; }
    .main-panel .welcome-box h1 {
      margin-top: 5%;
      font-weight: bold;
      font-size: 28px;
      line-height: .5em;
      color: #fafafa; }
    .main-panel .welcome-box h2 {
      color: #1eb954;
      font-weight: 400;
      font-size: 25px;
      line-height: .6em; }
    .main-panel .welcome-box .social-box {
      margin-top: 15px; }
      .main-panel .welcome-box .social-box .glyph-icon {
        color: #1eb954;
        font-size: 30px;
        margin: 0 15px; }
    .main-panel .welcome-box .down-box {
      height: 50px; }
    .main-panel .welcome-box .down-txt {
      padding-top: 30px;
      font-size: 35px;
      color: #1eb954; }
    .main-panel .welcome-box .down-arr {
      cursor: pointer; }
    .main-panel .welcome-box .move-down {
      -webkit-animation: moveD 2.5s infinite;
              animation: moveD 2.5s infinite; }

@-webkit-keyframes moveD {
  0%, 100% {
    margin-top: 100px; }
  50% {
    margin-top: 50px; } }

@keyframes moveD {
  0%, 100% {
    margin-top: 100px; }
  50% {
    margin-top: 50px; } }

@media (min-width: 23em) {
  .main-panel .welcome-box h1 {
    font-size: 33px; } }

@media (min-width: 40.063em) {
  .main-panel .welcome-box {
    padding: 15% 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/header.jpg");
    background-size: cover; }
    .main-panel .welcome-box h1 {
      margin-top: 5%;
      font-weight: bold;
      font-size: 60px;
      line-height: .5em;
      color: #fafafa; }
    .main-panel .welcome-box h2 {
      color: #1eb954;
      font-weight: 400;
      line-height: .6em; }
    .main-panel .welcome-box .social-box {
      margin-top: 15px; }
      .main-panel .welcome-box .social-box .glyph-icon {
        color: #1eb954;
        font-size: 30px;
        margin: 0 15px; }
    .main-panel .welcome-box .down-box {
      height: 130px; }
    .main-panel .welcome-box .down-txt {
      padding-top: 100px;
      font-size: 35px;
      color: #1eb954; }
    .main-panel .welcome-box .down-arr {
      cursor: pointer; }
    .main-panel .welcome-box .move-down {
      -webkit-animation: moveD 2.5s infinite;
              animation: moveD 2.5s infinite; }
  @-webkit-keyframes moveD {
    0%, 100% {
      margin-top: 100px; }
    50% {
      margin-top: 50px; } }
  @keyframes moveD {
    0%, 100% {
      margin-top: 100px; }
    50% {
      margin-top: 50px; } } }

.top-project-panel {
  background-color: #fafafa;
  width: 100%; }
  .top-project-panel .top-project-box {
    width: 88%;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 0px; }
    .top-project-panel .top-project-box .title-box .title {
      line-height: 0.8em;
      float: left; }
    .top-project-panel .top-project-box .title-box .link {
      font-weight: 500;
      color: #000;
      line-height: 2em;
      float: right;
      border-bottom: 1px solid #2C86E8; }
    .top-project-panel .top-project-box .title-box .link:hover {
      border-bottom: 1px solid #000; }
    .top-project-panel .top-project-box .desc-box .desc-type {
      font-weight: bold; }
    .top-project-panel .top-project-box .button-box {
      text-align: center; }
      .top-project-panel .top-project-box .button-box .more-btn {
        margin-right: 10px;
        margin-top: 50px;
        border-radius: 0;
        font-size: 18px; }
    .top-project-panel .top-project-box .img-box {
      margin-top: 20px;
      width: 100%;
      margin: 0 auto; }
      .top-project-panel .top-project-box .img-box img {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #fafafa; }
      .top-project-panel .top-project-box .img-box img:hover {
        border: 1px solid #2C86E8; }

.pack-panel .title-box .title {
  color: #426db2; }

.pack-panel .button-box .more-btn {
  border: 2px solid #426db2;
  color: #426db2; }

.pack-panel .button-box .more-btn:hover {
  background-color: #426db2;
  color: #fafafa; }

@media (min-width: 40.063em) {
  .top-project-panel {
    background-color: #fafafa; }
    .top-project-panel .top-project-box {
      width: 93%;
      padding: 50px; }
    .top-project-panel .button-box .more-btn {
      margin-top: 100px;
      margin-right: 0; } }

.second-project-box {
  width: 88%;
  margin: 0 auto;
  padding: 5px; }
  .second-project-box .img-box {
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    text-align: center; }
    .second-project-box .img-box img {
      width: 80%; }
    .second-project-box .img-box .bottom {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .second-project-box .img-box .top {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 0.5s ease-in-out; }
    .second-project-box .img-box .top:hover {
      opacity: 0; }
  .second-project-box .desc-box {
    margin: 10px auto 20px auto; }
    .second-project-box .desc-box .desc-type {
      font-weight: bold; }
  .second-project-box .button-box {
    text-align: center; }
    .second-project-box .button-box .more-btn {
      margin-right: 10px;
      margin-bottom: 80px;
      border-radius: 0;
      font-size: 18px; }

@media (min-width: 40.063em) {
  .second-project-box {
    width: 93%;
    margin: 0 auto;
    padding: 50px; }
    .second-project-box .img-box img {
      width: 100%; }
    .second-project-box .desc-box {
      margin: 10px auto 80px auto; } }

.second-project-box .pack-box .more-btn {
  border: 2px solid #426db2;
  color: #426db2; }

.second-project-box .pack-box .more-btn:hover {
  background-color: #426db2;
  color: #fafafa; }

.second-project-box .seam-box .more-btn {
  border: 2px solid #8ec742;
  color: #8ec742; }

.second-project-box .seam-box .more-btn:hover {
  background-color: #8ec742;
  color: #fafafa; }

.second-project-box .data-box .more-btn {
  border: 2px solid #2580c5;
  color: #2580c5; }

.second-project-box .data-box .more-btn:hover {
  background-color: #2580c5;
  color: #fafafa; }

.second-project-box .twitter-box .more-btn {
  border: 2px solid #5faed9;
  color: #5faed9; }

.second-project-box .twitter-box .more-btn:hover {
  background-color: #5faed9;
  color: #fafafa; }

.second-project-box .front-box .more-btn {
  border: 2px solid #d51420;
  color: #d51420; }

.second-project-box .front-box .more-btn:hover {
  background-color: #d51420;
  color: #fafafa; }

.second-project-box .hatch-box .more-btn {
  border: 2px solid #b4cdb8;
  color: #b4cdb8; }

.second-project-box .hatch-box .more-btn:hover {
  background-color: #b4cdb8;
  color: #fafafa; }

.pack-panel .project-title, .pack-panel .visit-txt {
  color: #426db2; }

.seam-panel .project-title, .seam-panel .visit-txt {
  color: #8ec742; }

.data-panel .project-title, .data-panel .visit-txt {
  color: #2580c5; }

.twitter-panel .project-title, .twitter-panel .visit-txt {
  color: #5faed9; }

.front-panel .project-title, .front-panel .visit-txt {
  color: #d51420; }

.hatch-panel .project-title, .hatch-panel .visit-txt {
  color: #b4cdb8; }

.about-panel {
  width: 100%;
  background-color: #EEEFF1; }
  .about-panel .bio-img {
    top: 0;
    width: 100%; }
  .about-panel .bio-box {
    width: 90%;
    margin: 0 auto;
    text-align: left; }
    .about-panel .bio-box .desc-txt-box {
      width: 100%;
      margin-top: 0px; }
      .about-panel .bio-box .desc-txt-box h4, .about-panel .bio-box .desc-txt-box a {
        line-height: 1.5em;
        color: #000;
        font-size: 16px;
        font-weight: 500; }
      .about-panel .bio-box .desc-txt-box a:hover {
        color: #1eb954; }
    .about-panel .bio-box .social-box {
      margin-top: 30px; }
      .about-panel .bio-box .social-box a {
        text-decoration: none; }
      .about-panel .bio-box .social-box .glyph-icon {
        color: #1eb954;
        font-size: 26px;
        margin: 0 1.6em 0 0em; }
      .about-panel .bio-box .social-box .glyph-icon:hover {
        color: #1eb954; }
      .about-panel .bio-box .social-box .last-icon {
        margin: 0; }

@media (min-width: 23em) {
  .about-panel .bio-box .social-box .glyph-icon {
    margin: 0 2.06em 0 0em; } }

@media (min-width: 40.063em) {
  .about-panel {
    width: 100%; }
    .about-panel .bio-img {
      width: 100%; }
    .about-panel .bio-box {
      width: 93%;
      padding: 0;
      margin: 50px auto 0 auto; }
      .about-panel .bio-box .desc-txt-box h4, .about-panel .bio-box .desc-txt-box a {
        font-size: 16px; }
      .about-panel .bio-box .social-box {
        margin-top: 30px; }
        .about-panel .bio-box .social-box .glyph-icon {
          font-size: 30px;
          margin: 0 28px 0 0; } }

@media (min-width: 64.063em) {
  .about-panel {
    width: 100%; }
    .about-panel .bio-img {
      width: 95%; }
    .about-panel .bio-box {
      width: auto;
      padding: 0;
      margin-top: 50px;
      margin-right: 12%; }
      .about-panel .bio-box .desc-txt-box h4, .about-panel .bio-box .desc-txt-box a {
        font-size: 17px; }
      .about-panel .bio-box .social-box {
        margin-top: 30px; }
        .about-panel .bio-box .social-box .glyph-icon {
          font-size: 30px;
          margin: 0 28px 0 0; } }

.skills-panel {
  width: 100%;
  background-color: #EEEFF1; }
  .skills-panel .skills-box {
    width: 93%;
    margin: 0 auto;
    padding: 50px; }
  .skills-panel .category {
    font-size: 22px;
    color: #1eb954; }
  .skills-panel .skill {
    font-size: 15px; }

.panel-2 {
  background-color: #fafafa;
  padding: 100px 0; }
  .panel-2 .projects {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .panel-2 .projects .img-box {
      width: 100%; }
      .panel-2 .projects .img-box img {
        cursor: pointer;
        border: 2px solid #fafafa;
        height: 160px;
        margin-bottom: 15px; }
      .panel-2 .projects .img-box img:hover {
        border: 2px solid #2C86E8; }
    .panel-2 .projects .col-md-4 {
      margin-top: 50px; }
    .panel-2 .projects a {
      cursor: pointer;
      color: #000;
      font-size: 20px; }
    .panel-2 .projects a:hover {
      color: #2C86E8; }
    .panel-2 .projects h5 {
      line-height: .5em; }

.project-desc-panel {
  width: 100%;
  margin-top: 80px; }
  .project-desc-panel .project-title {
    font-size: 28px;
    text-align: center;
    font-weight: bold; }
  .project-desc-panel .title {
    font-size: 18px; }
  .project-desc-panel .text-panel {
    width: 88%;
    margin: 0 auto; }
  .project-desc-panel .text-panel-2 {
    width: 88%;
    margin: 40px auto; }
  .project-desc-panel .text-panel-3 {
    width: 88%;
    margin: 20px auto;
    text-align: center; }
    .project-desc-panel .text-panel-3 .project-title {
      line-height: 5em;
      font-size: 30px;
      font-weight: bold; }
    .project-desc-panel .text-panel-3 .back-txt {
      font-size: 20px; }
    .project-desc-panel .text-panel-3 .visit-box {
      margin-bottom: 20px; }
      .project-desc-panel .text-panel-3 .visit-box .visit-txt {
        font-size: 18px; }
    .project-desc-panel .text-panel-3 .visit-margin {
      margin-top: 20px;
      margin-bottom: 0; }
  .project-desc-panel .img-panel {
    width: 88%;
    margin: 20px auto 0 auto;
    text-align: center; }
    .project-desc-panel .img-panel img {
      width: 100%; }
  .project-desc-panel .img-panel-2 {
    width: 88%;
    margin: 20px auto 0 auto; }
    .project-desc-panel .img-panel-2 img {
      float: left;
      width: 100%; }
    .project-desc-panel .img-panel-2 img:nth-child(2) {
      margin-top: 30px;
      margin-bottom: 30px; }

@media (min-width: 40.063em) {
  .project-desc-panel .project-title {
    margin-top: 30px;
    font-size: 30px; }
  .project-desc-panel .title {
    font-size: 20px; }
  .project-desc-panel .text-panel {
    width: 60%; }
  .project-desc-panel .text-panel-2 {
    width: 60%;
    margin: 40px auto; }
  .project-desc-panel .text-panel-3 {
    width: 60%;
    margin: 20px auto; }
    .project-desc-panel .text-panel-3 .project-title {
      line-height: 5em;
      font-size: 30px; }
    .project-desc-panel .text-panel-3 .back-txt {
      font-size: 30px; }
    .project-desc-panel .text-panel-3 .visit-box {
      margin-bottom: 20px; }
      .project-desc-panel .text-panel-3 .visit-box .visit-txt {
        margin-top: 30px;
        font-size: 22px; }
    .project-desc-panel .text-panel-3 .visit-margin {
      margin-top: 35px;
      margin-bottom: 0; }
  .project-desc-panel .img-panel {
    width: 90%;
    margin: 20px auto 0 auto; }
    .project-desc-panel .img-panel img {
      width: 50%; }
  .project-desc-panel .img-panel-2 {
    width: 85%;
    margin: 20px auto 0 auto; }
    .project-desc-panel .img-panel-2 img {
      width: 50%; }
    .project-desc-panel .img-panel-2 img:nth-child(2) {
      margin: 0; } }

h1, h2, h3, h4, h5, h6, a, span, i, body {
  font-family: 'Source Sans Pro', sans-serif; }

h5 {
  font-size: 15px; }

a:hover {
  text-decoration: none; }

.clear {
  clear: both; }

html, body {
  overflow-x: hidden; }

.mobile-hidden {
  display: none; }

.desktop-hidden {
  display: block; }

.title-txt {
  color: #1eb954;
  padding: 0 0 20px 0;
  font-weight: bold;
  font-size: 23px; }

.footer {
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #EEEFF1; }
  .footer .footer-txt {
    font-size: 14px;
    color: #1eb954; }

@media (min-width: 23em) {
  .title-txt {
    font-size: 28px; } }

@media (min-width: 40.063em) {
  .mobile-hidden {
    display: block; }
  .desktop-hidden {
    display: none; }
  .footer {
    margin-top: 20px; }
  .title-txt {
    font-size: 35px; } }
