$blue:#2C86E8;
$gray: #EEEFF1;
$d-gray: rgb(210,210,210);

$d-gray2: rgb(204,203,203);
$black: #000;
$black1:#1E1E1E;
$white:rgb(250,250,250);
$orange:rgb(241,103,57);
$mint: #13c49b;
$green:rgb(45,199,67);
$exp:#2FCE47;
$exp1:#2850EF;
$og:rgb(255,171,64);
$bl:rgb(41,121,255);
$bl1:#327DFF;
$bl2:#2983FF;
$bl3:#2986FF;
$bl4:#298CFF;
$pr1e:rgb(39,170,224);
$dg:#E0DDD7;
$pr1:#01E8BE;
$pr1a:#3EA0CE;
$pr1b:#00ABFC;
$pr1c:#4cd964;
$pr1d:#F8B300;

$inv:rgb(56,121,251);
$op:rgba(247,148,33,1);
$op1:#FF951C;
$op2:#005DFF;
// $op2:rgb(6,23,59);
$op3:rgb(245,245,245);
$bl2:rgba(255,255,255,0.4);

$pr1b:#00ABFC;
$se2:#0C1531;
$se2:#2c3e50;
// $se2:#253544;
$se3:rgb(207,0,15);
$blue:#2754FF;
$green: rgb(30,185,84);
// $green:#16a085;
$yellow:#f1c40f;

// $se2:#00FF50;

//bestcoolr
$white:#FDFFFC;
$sec:#E71D36;
$black:#011627;
$yel: #FF9F1C;

$white:#FDFFFC;
$white:rgb(253,253,253);
$sec:rgb(0,159,183);
$black:#011627;
$gr: #8D99AE;
$grayy:rgb(244,244,244);

$prim-color:$white;
$sec-color:$se2;
$sec-color:$black;
$tert-color:$green;
$quart-color:$gr;
$pent-color:$grayy;
$navbar-height:50px;
$container-width:82%;

$break-small: 400px;
$break-large: 1800px;
$break-medium:960px;
$large-screen-width:1600px;


$main-font: 50;
$main-blinker: $main-font;

@import 'partials/_nav.scss';
@import 'partials/_mainPanel.scss';
@import 'partials/_aboutPanel.scss';
@import 'partials/_professPanel.scss';

@import 'partials/_carousel.scss';
@import 'partials/_projectPanel.scss';
@import 'partials/_blink.scss';

html,body{
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6,a,span,i,body{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
h5{
	font-size: 15px;
}
a:hover{
	text-decoration: none;
}
.clear{
	clear:both;
}
.footer{
	margin-top: 20px;
	padding-bottom:20px;
	text-align: center;		
	background-color: $pent-color;	
	.footer-txt{
		font-size: 14px;
		color:$tert-color;
	}
}
