$blue:#2C86E8;
$gray: #EEEFF1;
$d-gray: #4F5152;
$black: #000;

$navbar-height:50px;

$break-small: 400px;
$break-large: 1800px;
$break-medium:960px;
$large-screen-width:1600px;

body{
	font-family: 'Source Sans Pro', sans-serif;
}

