<div class="text-panel-3">
	<div class="row">
		<div class="col-md-12">
			<a href="/#all-project-panel" class="project-title back-txt">
			<span class="flaticon-arrows-2 down-arr move-down" ng-click="gotoElement('project-panel')"></span> Back to Other Projects
			</a>
		</div>
	</div>
</div>