<div class="about-panel">
	<div class="about-box">
		<div class="row">			
			<div class="nav-box">
				<ul>
					<li><a href="#">about me</a></li>
			        <li><a href="#">projects</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

				<img class="bio-img" src="assets/images/mike2.jpg"/>
				<div class="bio-box">
					<h4>Michael joined IBM’s Analytics Platform as a <br> 
					front-end developer in June 2015.</h4>
					<h4>He graduated from Northwestern University<br> 
					 studying Biological Sciences and Computer<br>
					 Science. During his time at Northwestern,<br> 
					 Michael led EPIC, the undergraduate<br> 
					 entrepreneurship student group and created<br> 
					 programs such as WildHacks, an<br> 
					 intercollegiate hackathon and Project Pitch,<br> 
					 an entrepreneurship development program.</h4>
				</div>
			</div>
			<div class="col-md-6">
				<div class="desc-box">
					<h1 class="name-txt">Hi, I'm Michael.<span>|</span></h1>
					<h2>I’m a <a href="">Full Stack Engineer</a><br> 
					with <a href="">Design</a> and <a href="">Project<br> 
					Management</a> experience.</h2>
					<div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>
				</div>
			</div>
		</div>
	</div>
</div>