<div id="about-panel" class="about-panel">
	<div class="about-box">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="bio-img" src="assets/images/team.jpg"/>
			</div>
			<div class="col-xs-12 col-md-6">
					<div class="bio-box">
					<h2>About Me</h2>
					<div class="desc-txt-box">
						<h4>I joined IBM's Analytics Platform as a front-end software engineer in June 2015.</h4>
						<h4>I graduated from Northwestern University in 2015 studying Biological Sciences and Computer Science. During my time at Northwestern, I led <a href="http://www.nuisepic.com" target="_blank">EPIC</a>, the entrepreneurship student group, and created programs such as WildHacks, an intercollegiate hackathon, and Project Pitch, an entrepreneurship development program.</h4>
					</div>
					 <div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 footer">
				<h3 class="footer-txt">Made with   &nbsp; <i class="glyph-icon flaticon-cup"></i></h3>
			</div>
		</div>
	</div>
</div>