<div ng-controller="projectController"  class="box-panel">
	<div class="row">
		<div class="col-md-6">	
			<a ng-click="setActiveProject(0); updateSlide();gotoElement('project-panel')">
				<div class="box p1">			  
					<div class="overlay">
						<h4 class="title">PackHire</h4>
						<h5 class="desc">Full Stack (Ruby on Rails)</h5>
					</div>			  
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a ng-click="setActiveProject(1); updateSlide();gotoElement('project-panel')">
				<div class="box p2">			  
					<div class="overlay">
						<h4 class="title">SEAM</h4>
						<h5 class="desc">Full Stack (Node.JS)</h5>
					</div>			  
				</div>
			</a>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<a ng-click="setActiveProject(2); updateSlide();gotoElement('project-panel')">
				<div class="box p3">			  
					<div class="overlay">
						<h4 class="title">Twitter Filter</h4>
						<h5 class="desc">Python</h5>
					</div>			  
				</div>
			</a>
		</div>

		<div class="col-md-6">
			<a ng-click="setActiveProject(3); updateSlide();gotoElement('project-panel')">
				<div class="box p4">			  
					<div class="overlay">
						<h4 class="title">Clients</h4>
						<h5 class="desc">Front-End (HTML/CSS/Javascript)</h5>
					</div>			  
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a ng-click="setActiveProject(4); updateSlide();gotoElement('project-panel')">
				<div class="box p5">			  
					<div class="overlay">
						<h4 class="title">Data Science</h4>
						<h5 class="desc">Python</h5>
					</div>			  
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a ng-click="setActiveProject(5); updateSlide();gotoElement('project-panel')">
				<div class="box p6">			  
					<div class="overlay">
						<h4 class="title">HatchGood</h4>
						<h5 class="desc">Full Stack (Node.JS)</h5>
					</div>			  
				</div>
			</a>
		</div>
	</div>
</div>