<div ng-controller="CarouselCtrl">
  <div ng-repeat="sliding in project">
    <uib-carousel interval="myInterval" ng-show="isActive(project)">
      <uib-slide class="carousel-slide" ng-repeat="slide in sliding" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>
</div>