<div id="barChartArea">
<canvas id="barChart" width="600px" height="400px"></canvas>
<div id="chartjs-tooltip"></div>
<div id="legend">
  <ul class="bar-legend">
    <li>
      <span style="background-color:#46BFBD"></span>Software Engineering
    </li>
    <li>
      <span style="background-color:#F7464A"></span>Product Management
    </li>
    <li>
      <span style="background-color:#FDB45C"></span>Design
    </li>
  </ul>
</div>
<div class="clear"></div>
</div>

<canvas id="pieChart" width="400" height="400"></canvas>