<div id="large-header" class="main-panel large-header">
	<div class="welcome-box">
		<div class="row">
			<div class="col-xs-12">
				<h1>HI, I'M MICHAEL CHEN</h1>
			</div>
			<div class="col-xs-12">
				<h2>I'm a software engineer</h2>
			</div>
			<div class="col-xs-12">
				<div class="social-box">
			        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
			        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>
			        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				</div>
			</div>
			<div class="col-xs-12 down-box">
				<div class="down-txt move-down">
					<span class="flaticon-arrows-1 down-arr move-down" ng-click="gotoElement('project-panel')"></span>
				</div>
			</div>
		</div>
	</div>
</div>