<div class="panel-1">
	<div class="welcome-box">
		<div class="row">
			<div class="col-xs-12">
				<h1>MICHAEL CHEN</h1>
			</div>
			<div class="col-xs-12">
				<h2>full stack engineer &amp; etc</h2>
			</div>
			<div class="col-xs-12">
				<div class="social-box">
                <a href="mailto:i.astellalee@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
                <a href="http://www.linkedin.com/in/astellalee" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>
                <a href="http://www.github.com/astellalee" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
	</div>
	            </div>
			</div>
		</div>
	</div>
</div>