<div class="main-panel">
	 <% include general/_nav.ejs %>
	<div class="main-box">
		<!-- <div class="row">			
			<div class="nav-box">
				<ul>
					<li><h4 ng-click="gotoElement('project-panel')">about me</h4></li>
			        <li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
				</ul>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-7">
				<div class="desc-box">
					<h1 class="name-txt">Hi, I'm Michael.<span>|</span></h1>
					<h2>I’m a <a href="">Full Stack Engineer</a><br> 
					with <a href="">Design</a> and <a href="">Project<br> 
					Management</a> experience.</h2>
					<div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>
					<!-- <div class="hello-box">
						<h3>hello there</h3>
						<h4>//////////////////</h4>
					</div> -->
					<div class="project-box" ng-click="gotoElement('project-panel')">
						<div class="project-txt">
							<h3>see what i’ve been<br>
							working on lately</h3>

						<div class="down-txt move-down">
							<span class="flaticon-arrows down-arr move-down"></span>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="skills-box" ng-controller="skillsController">
					<!-- <div class="category-box" ng-repeat="set in skillsSet">
						<div class="category-title">
							<h4>{{set.category}}</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt" ng-repeat="skill in set.skills">
								<span ng-bind-html="skill.title">{{skill.title}}</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
					</div> -->
					<div class="category-box">
						<div class="category-title">
							<h4>front-end&nbsp; </h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>HTML</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>CSS &amp; SASS</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Javascript</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Angular</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Gulp &amp; Grunt</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
					<div class="category-box">
						<div class="category-title">
							<h4>back-end &amp;<br> databses</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>Node.js</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>MongoDB</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Ruby On Rails</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>MySQL</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>PostgreSQL</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
					<div class="category-box">
						<div class="category-title">
							<h4>gen. prog.</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>Java</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Python</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>C++</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>