<div class="panel-2">
	<div class="projects">
		<div class="row title">
			<div class="col-md-12">
				<h2> Projects</h2>
			</div>
		</div>
		<div class="row list">		
			<div class="col-md-4">
				<img src="assets/images/PackHire.png"/>
				<a>PackHire</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-4">
				<img src="assets/images/SEAM.png"/>
				<a>SEAM</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-4">
				<img src="assets/images/PackHire.png"/>
				<a>PackHire</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-4">
				<img src="assets/images/SEAM.png"/>
				<a>PackHire</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-4">
				<img src="assets/images/PackHire.png"/>
				<a>PackHire</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-4">
				<img src="assets/images/SEAM.png"/>
				<a>PackHire</a>
				<h5><b>Role:</b> Software Engineering (Full Stack)</h5>
			</div>
		</div>
	</div>
</div>