<div ng-controller="projectController" id="project-panel" class="project-panel">
	<div class="project-box">
		<div class="row title-box">
			<div class="col-xs-12">
				<h2 class="title-label">My Latest Projects</h2 >
			</div>	
			<div class="col-xs-6">
				<!-- <div class="navigation">
					<ul>
						<li><h4>about me</h4></li>
					    <li><h4>projects</h4></li>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
			    <a ng-repeat="project in projects" ng-class="{'active-txt': isActive(project)}" ng-click="setActiveProject($index); updateSlide()"> {{project.title}}</a>
			</div>
		</div>
		<div ng-repeat="project in projects" ng-show="isActive(project)" class="row individual-project-box">
			<div class="col-md-7">
				<%include _carousel.ejs%>
			</div>
			<div class="col-md-5">
				<div class="project-desc">
					<h3>{{project.title}}</h3>
					<a class="site-link" href="{{project.url}}" target="_blank">visit site <i class="glyph-icon flaticon-arrows"></i></a>
					<div class="clear"></div>
					<div class="row desc-row" >
						<div class="col-xs-2">
							<h5 class="label-txt" >Role:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="role-txt">{{project.role}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt">Tech:</h5>
						</div>
						<div class="col-xs-10 skill-box">
							<span class="skill-txt" ng-class="$index%2==0 ? 'skills-even' : 'skills-odd'" ng-repeat="skill in project.tech">{{skill}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt about-label" >About:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="about-txt">{{project.about}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>