<div class="prof-panel">
	<div class="prof-box">
		<div class="row title-box">
			<div class="col-xs-12">
				<h2 class="title-label">My Work Experience</h2>
			</div>
			<div class="row desc-txt-box">
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer, Front-End</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">June 2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as contribute to open source data science workbench. I received an <i>IBM Outstanding Innovation Award</i> for my present work at IBM. </h4>
				</div>
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">HealthEngine | Chicago, IL</h4>
					<h4 class="date-txt">Sept 2014 - Dec 2014</h4>
					<h5>--</h5>
					<h4 class="bio-txt">HealthEngine is a platform that allows consumers to save money on healthcare costs by providing a tool to increase transparency of healthcare costs. </h4>
					<h4 class="bio-txt">I worked to revamp the search module and created new features such as location mapping and mobile. I refactored legacy code and wrote multiple unit tests to stabilize and improve the platform.</h4>
				</div>
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">4C Insights | Chicago, IL</h4>
					<h4 class="date-txt">June 2014 - Sept 2014</h4>
					<h5>--</h5>
					<h4 class="bio-txt">4C Insights is the next gen. advertisement technology that integrates data with social to bring smarter insights and better results for media ads.</h4>
					<h4 class="bio-txt">I worked to develop algorithms to optimize engagement and insights on social ads. I created a pipeline that gathered past Facebook data to be stored and modeled for proprietary algorithm analysis.</h4>
				</div>
			</div>
		</div>
	</div>
</div>