<div class="project-panel">
	<div class="project-box">
		<div class="row nav-box">
			<div class="col-xs-6">
				<h1 class="nav-mike">Michael Chen</h1>
			</div>	
			<div class="col-xs-6">
				<div class="navigation">
					<ul>
						<li><a href="#">about me</a></li>
					    <li><a href="#">projects</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
				<a href="#">HatchGood</a>
				<a href="#">PackHire</a>
				<a href="#">SEAM</a>
				<a href="#">Twitter Filter</a>
				<a href="#">Front End Web</a>
			</div>
		</div>
		<div class="row individual-project-box">
			<div class="col-md-8">
				<div class="project">
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="project-desc">
					
				</div>
			</div>
		</div>
		
	</div>
</div>