<div ng-controller="projectController" id="project-panel" class="project-panel">
	<div class="project-box">
		<div class="row nav-box">
			<div class="col-xs-6">
				<h2 class="nav-label">My Latest Creations</h2 >
			</div>	
			<div class="col-xs-6">
				<!-- <div class="navigation">
					<ul>
						<li><h4>about me</h4></li>
					    <li><h4>projects</h4></li>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
			    <a ng-repeat="project in projects" ng-class="{'active-txt': isActive(project)}" ng-click="setActiveProject($index)"> {{project.title}}</a>
			</div>
		</div>
		<div ng-repeat="project in projects" ng-show="isActive(project)" class="row individual-project-box">
			<div class="col-md-8">
				<%include _carousel.ejs%>
			</div>
			<div class="col-md-4">
				<div class="project-desc">
					<h3>{{project.title}}</h3>
					<a href="{{project.url}}" target="_blank">visit site</a>
					<h4><span>Role:</span> {{project.role}}</h4>
					<h4><span>Tech:</span> Software Engineering (Full Stack)</h4>
					<h4>PackHire provides you with platform where you 
					can turn people in your network into the best 
					recruiters for your company</h4>
				</div>
			</div>
		</div>		
	</div>
</div>