<div class="prof-panel">
	<div class="prof-box">
		<div class="row title-box">
			<div class="col-md-12">
				<h2>Professional Experience</h2>
			</div>
			<div class="row desc-txt-box">
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
			</div>
		</div>
	</div>
</div>