<div class="second-project-box">
	<div class="row">
			<div class="col-md-12">		
				<h1 class="title-txt">MY PROJECTS</h1>	
			</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div onclick="location.href='/pack.html';" class="img-box">
				<img class="bottom" src="assets/images/Projects/PackHire2.jpg" />
				<img class="top" src="assets/images/Projects/PackHire.jpg" />
			</div>
			<div class="desc-box">
				<h4>PackHire</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> Ruby on Rails, HTML, CSS, Javascript, SASS, PostgreSQL</h5>
			</div>
		</div>
		<div class="col-md-4">
			<div onclick="location.href='/seam.html';" class="img-box">
				<img class="bottom" src="assets/images/Projects/SEAM2.jpg" />
				<img class="top" src="assets/images/Projects/SEAM.jpg" />
			</div>
			<div class="desc-box">
				<h4>SEAM</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> Node.JS, HTML, CSS, Javascript, MongoDB</h5>
			</div>
		</div>
		<div class="col-md-4">
			<div onclick="location.href='/data.html';" class="img-box">
				<img class="bottom" src="assets/images/Projects/Data2.jpg" />
				<img class="top" src="assets/images/Projects/Data.jpg" />
			</div>
			<div class="desc-box">
				<h4>Data Science Projects</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> Python, Java</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div onclick="location.href='/twitter.html';" class="col-md-4">
			<div class="img-box">
				<img class="bottom" src="assets/images/Projects/Twitter2.jpg" />
				<img class="top" src="assets/images/Projects/Twitter.jpg" />
			</div>
			<div class="desc-box">
				<h4>Twitter Filter App</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> HTML, CSS, Javascript, Python</h5>
			</div>
			<div class="button-box twitter-box desktop-hidden">
					<a class="btn more-btn" href="/twitter.html">More Details</a>
			</div>
		</div>
		<div onclick="location.href='/front.html';" class="col-md-4">
			<div class="img-box">
				<img class="bottom" src="assets/images/Projects/Front2.jpg" />
				<img class="top" src="assets/images/Projects/Front.jpg" />
			</div>
			<div class="desc-box">
				<h4>Front-End Projects</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> HTML, CSS, Javascript, Angular.JS, Gulp</h5>
			</div>
			<div class="button-box front-box desktop-hidden">
					<a class="btn more-btn" href="/front.html">More Details</a>
			</div>
		</div>
		<div onclick="location.href='/hatch.html';" class="col-md-4">
			<div class="img-box">
				<img class="bottom" src="assets/images/Projects/Hatch2.jpg" />
				<img class="top" src="assets/images/Projects/Hatch.jpg" />
			</div>
			<div class="desc-box">
				<h4>HatchGood</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
				<h5><span class="desc-type">Technology used:</span> Node.JS, HTML, CSS, Javascript, MongoDB, Gulp, Angular.JS</h5>
			</div>
			<div class="button-box hatch-box desktop-hidden">
					<a class="btn more-btn" href="/hatch.html">More Details</a>
			</div>
		</div>
	</div>
</div>