<div class="second-project-panel">
	<div class="second-project-box">
		<div class="row">
			<div class="col-md-6">
				<div class="img-box">
					<img src="assets/images/PackHire.png"/>
				</div>
				<h4>PackHire</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
			</div>
			<div class="col-md-6">
				<div class="img-box">
					<img src="assets/images/PackHire.png"/>
				</div>
				<h4>SEAM</h4>
				<h5><span class="desc-type">Role:</span> Software Engineering (Full Stack)</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="btn-box">
					<button class="btn btn-default btn-all"> View All Projects</button>
				</div>
			</div>
		</div>
	</div>
</div>