<div id="about-panel" class="skills-panel">	
	<div class="skills-box">
		<div class="row">
			<div class="col-md-12">		
				<h1 class="title-txt">MY SKILLS</h1>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2 class="category">Front-End</h2>
			</div>
			<div class="col-md-4">
				<h2 class="category">Back-End & Databases</h2>
			</div>
			<div class="col-md-4">
				<h2 class="category">General Programming</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h3 class="skill">Front-End</h3>
				<h3 class="skill">HTML</h3>
				<h3 class="skill">CSS/SASS</h3>
				<h3 class="skill">HTML</h3>
				<h3 class="skill">CSS/SASS</h3>
			</div>
			<div class="col-md-4">
				<h2 class="category">Back-End & Databases</h2>
			</div>
			<div class="col-md-4">
				<h2 class="category">General Programming</h2>
			</div>
		</div>
	</div>
</div>