<div class="top-project-panel">
	<div class="top-project-box">
		<div class="row">
			<div class="col-md-12">				
				<div class="title-box">
					<h4 class="title">PackHire</h4>
					<a href="http://www.packhire.com" target="_blank"><h4 class="link text-right"> Visit Website</h4></a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">				
				<div class="desc-box">
					<h5 class="title"><span class="desc-type">Role:</span> Software Engineering (Full Stack) , Product Management, Business Development</h5>
					<h5 class="title"><span class="desc-type">Technology used:</span> Node.js, HTML, CSS, Javascript, SASS, MongoDB, Express, Gulp</h5>
					<h5 class="title"><span class="desc-type">Description:</span> PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">				
				<div class="img-box">
					<a href="http://www.packhire.com" target="_blank"><img src="assets/images/PackHire.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>