<div id="project-panel" class=" pack-panel top-project-panel">
	<div class="top-project-box">
		<div class="row">
			<div class="col-md-12">		
				<h1 class="title-txt">MY MOST RECENT PROJECT</h1>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">				
				<div class="title-box">
					<h3 class="title">PackHire</h3>
					<a href="http://www.packhire.com" target="_blank"><h5 class="link text-right"> Visit Website</h5></a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">				
				<div class="img-box">
					<a href="/pack.html" target="_blank"><img src="assets/images/Projects/PackHire/pack-0.jpg"></a>
				</div>
			</div>
			<div class="col-md-6">				
				<div class="desc-box">
					<h5 class="title"><span class="desc-type">Role:</span> Software Engineering (Full Stack) , Product Management, Business Development</h5>
					<h5 class="title"><span class="desc-type">Technology used:</span> Node.js, HTML, CSS, Javascript, SASS, MongoDB, Express, Gulp</h5>
					<h5 class="title"><span class="desc-type">Description:</span> PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h5>
				</div>
				<div class="button-box">
					<a class="btn more-btn" href="/pack.html">More Details</a>
				</div>
			</div>
		</div>
	</div>

    <% include _secondProjectsPanel.ejs %>
</div>