<div class="main-panel">
	<div class="main-box">
		<div class="row">			
			<div class="nav-box">
				<ul>
					<li><h4 ng-click="gotoElement('project-panel')">about me</h4></li>
			        <li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="desc-box">
					<h1 class="name-txt">Hi, I'm Michael.<span>|</span></h1>
					<h2>I’m a <a href="">Full Stack Engineer</a><br> 
					with <a href="">Design</a> and <a href="">Project<br> 
					Management</a> experience.</h2>
					<div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>
					<!-- <div class="hello-box">
						<h3>hello there</h3>
						<h4>//////////////////</h4>
					</div> -->
					<div class="project-box" ng-click="gotoElement('project-panel')">
						<div class="project-txt">
							<h3>see what i’ve been<br>
							working on lately</h3>

						<div class="down-txt move-down">
							<span class="flaticon-arrows down-arr move-down"></span>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="skills-box" ng-controller="skillsController">
					<!-- <div class="category-box" ng-repeat="set in skillsSet">
						<div class="category-title">
							<h4>{{set.category}}</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt" ng-repeat="skill in set.skills">
								<span ng-bind-html="skill.title">{{skill.title}}</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
					</div> -->
					<div class="category-box">
						<div class="category-title">
							<h4>front-end&nbsp; </h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>HTML</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>CSS &amp; SASS</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Javascript</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Angular</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Gulp &amp; Grunt</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
					<div class="category-box">
						<div class="category-title">
							<h4>back-end &amp;<br> databses</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>Node.js</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>MongoDB</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Ruby On Rails</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>MySQL</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>PostgreSQL</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
					<div class="category-box">
						<div class="category-title">
							<h4>gen. prog.</h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt">
								<span>Java</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>Python</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
							<h4 class="skills-txt">
								<span>C++</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="projectController" id="project-panel" class="project-panel">
	<div class="project-box">
		<div class="row nav-box">
			<div class="col-xs-6">
				<h2 class="nav-label">My Latest Creations</h2 >
			</div>	
			<div class="col-xs-6">
				<div class="navigation">
					<ul>
						<li><h4>about me</h4></li>
					    <li><h4>projects</h4></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
			    <a ng-repeat="project in projects" ng-class="{'active-txt': isActive(project)}" ng-click="setActiveProject($index)"> {{project.title}}</a>
			</div>
		</div>
		<div ng-repeat="project in projects" ng-show="isActive(project)" class="row individual-project-box">
			<div class="col-md-8">
				<div ng-controller="CarouselCtrl">
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="carousel-slide" ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>
</div>
			</div>
			<div class="col-md-4">
				<div class="project-desc">
					<h3>{{project.title}}</h3>
					<a href="{{project.url}}" target="_blank">visit site</a>
					<h4><span>Role:</span> {{project.role}}</h4>
					<h4><span>Tech:</span> Software Engineering (Full Stack)</h4>
					<h4>PackHire provides you with platform where you 
					can turn people in your network into the best 
					recruiters for your company</h4>
				</div>
			</div>
		</div>		
	</div>
</div>
<div class="prof-panel">
	<div class="prof-box">
		<div class="row title-box">
			<div class="col-md-12">
				<h2>Professional Experience</h2>
			</div>
			<div class="row desc-txt-box">
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
				<div class="col-md-4">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as some open source software. reate a next generation data science workbench as well as some open source software.</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-panel">
	<div class="about-box">
		<div class="row">
			<div class="col-md-6">
				<img class="bio-img" src="assets/images/team.jpg"/>
			</div>
			<div class="col-md-6">
					<div class="bio-box">
					<h2>About Me</h2>
					<div class="desc-txt-box">
						<h4>Michael joined IBM’s Analytics Platform as a front-end developer in June 2015.</h4>
						<h4>He graduated from Northwestern University studying Biological Sciences and Computer Science. During his time at Northwestern, Michael led EPIC, the undergraduate entrepreneurship student group and programs such as WildHacks, an intercollegiate hackathon and Project Pitch, an entrepreneurship development program.</h4>
					</div>
					 <div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 footer">
				<h3 class="footer-txt">Made with   &nbsp; <i class="glyph-icon flaticon-cup"></i></h3>
			</div>
		</div>
	</div>
</div>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
