<div class="main-panel">
	 <section sticky-nav class="nav-bar mobile-hidden">
	<ul>
		<li><h4 ng-click="gotoElement('project-panel')">about me</h4></li>
		<li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
	</ul>
</section>
	<div class="main-box">
		<!-- <div class="row">			
			<div class="nav-box">
				<ul>
					<li><h4 ng-click="gotoElement('project-panel')">about me</h4></li>
			        <li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
				</ul>
			</div>
		</div> -->
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<div class="desc-box">
					<h1 class="name-txt">Hi, I'm Michael.<span>|</span></h1>
					<div class="intro-box">
						<h2>I’m a <a href="">Full Stack Engineer</a> with <a href="">Design</a> and <a href="">Project Management</a> experience.</h2>
					</div>
					<div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application last-icon"></span></a>     
					</div>
					<!-- <div class="hello-box">
						<h3>hello there</h3>
						<h4>//////////////////</h4>
					</div> -->
					<div class="project-box mobile-hidden" ng-click="gotoElement('project-panel')">
						<div class="project-txt" ng-click="gotoElement('project-panel')">
							<h3>see what i’ve been<br>
							working on lately</h3>
							<div class="down-txt move-down">
								<span class="flaticon-arrows-1 down-arr move-down"></span>
							</div>
						</div>
					</div>
					<div class="project-box desk-hidden">
						<div class="mobile-project-txt">
							<div class="down-txt move-down">
								<span class="flaticon-arrows-1 down-arr move-down" ng-click="gotoElement('project-panel')"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 hidden-xs">
				<div class="skills-box" ng-controller="skillsController">	
					<div class="category-box" ng-repeat="set in skillsSet">
						<div class="category-title">
							<h4 ng-bind-html="set.category | unsafe"></h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt" ng-repeat="skill in set.skills">
								<span>{{skill.title}}</span>
								<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="projectController" id="project-panel" class="project-panel">
	<div class="project-box">
		<div class="row title-box">
			<div class="col-xs-12">
				<h2 class="title-label">My Latest Projects</h2 >
			</div>	
			<div class="col-xs-6">
				<!-- <div class="navigation">
					<ul>
						<li><h4>about me</h4></li>
					    <li><h4>projects</h4></li>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
			    <a ng-repeat="project in projects" ng-class="{'active-txt': isActive(project)}" ng-click="setActiveProject($index); updateSlide()"> {{project.title}}</a>
			</div>
		</div>
		<div ng-repeat="project in projects" ng-show="isActive(project)" class="row individual-project-box">
			<div class="col-md-7">
				<div ng-controller="CarouselCtrl">
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="carousel-slide" ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>
</div>
			</div>
			<div class="col-md-5">
				<div class="project-desc">
					<h3>{{project.title}}</h3>
					<a class="site-link" href="{{project.url}}" target="_blank">visit site <i class="glyph-icon flaticon-arrows"></i></a>
					<div class="clear"></div>
					<div class="row desc-row" >
						<div class="col-xs-2">
							<h5 class="label-txt" >Role:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="role-txt">{{project.role}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt">Tech:</h5>
						</div>
						<div class="col-xs-10 skill-box">
							<span class="skill-txt" ng-class="$index%2==0 ? 'skills-even' : 'skills-odd'" ng-repeat="skill in project.tech">{{skill}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt about-label" >About:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="about-txt">{{project.about}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<div class="skills-panel">
	<div class="row">
		<div class="col-xs-12 visible-xs">
			<div class="skills-box" ng-controller="skillsController">					
				<div class="title-box">
					<h2 class="title-label">My Skills</h2>
				</div>
				<div class="category-box" ng-repeat="set in skillsSet">
					<div class="category-title">
						<h4 ng-bind-html="set.category | unsafe"></h4>
					</div>
					<div class="skills-txt-box">
						<h4 class="skills-txt" ng-repeat="skill in set.skills">
							<span>{{skill.title}}</span>
							<img style="width:220px;height:125px;"src="assets/images/PackHire.png"/>
						</h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="prof-panel">
	<div class="prof-box">
		<div class="row title-box">
			<div class="col-xs-12">
				<h2 class="title-label">My Work Experience</h2>
			</div>
			<div class="row desc-txt-box">
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer, Front-End</h4>
					<h4 class="company-txt">IBM | Austin, TX</h4>
					<h4 class="date-txt">June 2015 - Present</h4>
					<h5>--</h5>
					<h4 class="bio-txt">IBM Analytics Platform creates enterprise level applications to enable companies to visualize, explore, and shape big data.</h4>
					<h4 class="bio-txt">I am working to create a next generation data science workbench as well as contribute to open source data science workbench. I received an <i>IBM Outstanding Innovation Award</i> for my present work at IBM. </h4>
				</div>
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">HealthEngine | Chicago, IL</h4>
					<h4 class="date-txt">Sept 2014 - Dec 2014</h4>
					<h5>--</h5>
					<h4 class="bio-txt">HealthEngine is a platform that allows consumers to save money on healthcare costs by providing a tool to increase transparency of healthcare costs. </h4>
					<h4 class="bio-txt">I worked to revamp the search module and created new features such as location mapping and mobile. I refactored legacy code and wrote multiple unit tests to stabilize and improve the platform.</h4>
				</div>
				<div class="col-md-4 job-box">
					<h4 class="title-txt">Software Engineer Intern</h4>
					<h4 class="company-txt">4C Insights | Chicago, IL</h4>
					<h4 class="date-txt">June 2014 - Sept 2014</h4>
					<h5>--</h5>
					<h4 class="bio-txt">4C Insights is the next gen. advertisement technology that integrates data with social to bring smarter insights and better results for media ads.</h4>
					<h4 class="bio-txt">I worked to develop algorithms to optimize engagement and insights on social ads. I created a pipeline that gathered past Facebook data to be stored and modeled for proprietary algorithm analysis.</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-panel">
	<div class="about-box">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<img class="bio-img" src="assets/images/team.jpg"/>
			</div>
			<div class="col-xs-12 col-md-6">
					<div class="bio-box">
					<h2>About Me</h2>
					<div class="desc-txt-box">
						<h4>I joined IBM's Analytics Platform as a front-end software engineer in June 2015.</h4>
						<h4>I graduated from Northwestern University in 2015 studying Biological Sciences and Computer Science. During my time at Northwestern, I led <a href="http://www.nuisepic.com" target="_blank">EPIC</a>, the entrepreneurship student group, and created programs such as WildHacks, an intercollegiate hackathon, and Project Pitch, an entrepreneurship development program.</h4>
					</div>
					 <div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 footer">
				<h3 class="footer-txt">Made with   &nbsp; <i class="glyph-icon flaticon-cup"></i></h3>
			</div>
		</div>
	</div>
</div>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
