<div class="main-panel">
	 <section sticky-nav class="nav-bar mobile-hidden">
	<ul>
		<li><h4 ng-click="gotoElement('about-panel')">about me</h4></li>
		<li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
	</ul>
</section>
	<div class="main-box">
		<!-- <div class="row">			
			<div class="nav-box">
				<ul>
					<li><h4 ng-click="gotoElement('project-panel')">about me</h4></li>
			        <li><h4 ng-click="gotoElement('project-panel')">projects</h4></li>
				</ul>
			</div>
		</div> -->
		<div class="row">
			<div class="col-xs-12 col-md-7">
				<div class="desc-box">
					<h1 class="name-txt">Hi, I'm Michael.<span>|</span></h1>
					<div class="intro-box">
						<h2>I’m a Full Stack Engineer with Design and Product Management experience.</h2>
					</div>
					<div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application last-icon"></span></a>     
					</div>
					<!-- <div class="hello-box">
						<h3>hello there</h3>
						<h4>//////////////////</h4>
					</div> -->
					<div class="project-box mobile-hidden" ng-click="gotoElement('project-panel')">
						<div class="project-txt" ng-click="gotoElement('project-panel')">
							<h3>see what i’ve been<br>
							working on lately</h3>
							<div class="down-txt move-down">
								<span class="flaticon-arrows-1 down-arr move-down"></span>
							</div>
						</div>
					</div>
					<div class="project-box desk-hidden">
						<div class="mobile-project-txt">
							<div class="down-txt move-down">
								<span class="flaticon-arrows-1 down-arr move-down" ng-click="gotoElement('project-panel')"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-5 hidden-xs hidden-sm">
				<div class="skills-box" ng-controller="skillsController">	
					<div class="category-box" ng-repeat="set in skillsSet">
						<div class="category-title">
							<h4 ng-bind-html="set.category | unsafe"></h4>
						</div>
						<div class="skills-txt-box">
							<h4 class="skills-txt" ng-repeat="skill in set.skills" ng-click="setActiveProject(skill.project); updateSlide();gotoElement('project-panel')">
								<span>{{skill.title}}</span>
								<img style="width:190px;height:100px;" ng-src="{{skill.img}}"/>
							</h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="projectController" id="project-panel" class="project-panel">
	<div class="project-box">
		<div class="row title-box">
			<div class="col-xs-12">
				<h2 class="title-label">My Latest Projects</h2 >
			</div>	
			<div class="col-xs-6">
				<!-- <div class="navigation">
					<ul>
						<li><h4>about me</h4></li>
					    <li><h4>projects</h4></li>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="row projects-list-box">
			<div class="col-xs-12">
			    <a ng-repeat="project in projects" ng-class="{'active-txt': isActive(project)}" ng-click="setActiveProject($index); updateSlide()"> {{project.title}}</a>
			</div>
		</div>
		<div ng-repeat="project in projects" ng-show="isActive(project)" class="row individual-project-box">
			<div class="col-md-7">
				<div ng-controller="CarouselCtrl">
  <div>
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide class="carousel-slide" ng-repeat="slide in slides" active="slide.active" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>
</div>
			</div>
			<div class="col-md-5">
				<div class="project-desc">
					<h3>{{project.title}}</h3>
					<a class="site-link" href="{{project.url}}" target="_blank">visit site <i class="glyph-icon flaticon-arrows"></i></a>
					<div class="clear"></div>
					<div class="row desc-row" >
						<div class="col-xs-2">
							<h5 class="label-txt" >Role:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="role-txt">{{project.role}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt">Tech:</h5>
						</div>
						<div class="col-xs-10 skill-box">
							<span class="skill-txt" ng-class="$index%2==0 ? 'skills-even' : 'skills-odd'" ng-repeat="skill in project.tech">{{skill}}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<h5 class="label-txt about-label" >About:</h5>
						</div>
						<div class="col-xs-10">
							<h4 class="about-txt">{{project.about}}</h4>
							<h4 class="about-txt">{{project.desc}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<div ng-controller="projectController"  class="box-panel">
	<div class="row">
		<div class="col-md-6">	
			<a ng-click="setActiveProject(0); updateSlide();gotoElement('project-panel')">
				<div class="box p1">			  
					<div class="overlay">
						<h4 class="title">PackHire</h4>
						<h5 class="desc">Full Stack (Ruby on Rails)</h5>
					</div>			  
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a ng-click="setActiveProject(1); updateSlide();gotoElement('project-panel')">
				<div class="box p2">			  
					<div class="overlay">
						<h4 class="title">SEAM</h4>
						<h5 class="desc">Full Stack (Node.JS)</h5>
					</div>			  
				</div>
			</a>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6">
			<a ng-click="setActiveProject(2); updateSlide();gotoElement('project-panel')">
				<div class="box p3">			  
					<div class="overlay">
						<h4 class="title">Twitter Filter</h4>
						<h5 class="desc">Python</h5>
					</div>			  
				</div>
			</a>
		</div>

		<div class="col-md-6">
			<a ng-click="setActiveProject(3); updateSlide();gotoElement('project-panel')">
				<div class="box p4">			  
					<div class="overlay">
						<h4 class="title">Clients</h4>
						<h5 class="desc">Front-End (HTML/CSS/Javascript)</h5>
					</div>			  
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a ng-click="setActiveProject(4); updateSlide();gotoElement('project-panel')">
				<div class="box p5">			  
					<div class="overlay">
						<h4 class="title">Data Science</h4>
						<h5 class="desc">Python</h5>
					</div>			  
				</div>
			</a>
		</div>
		<div class="col-md-6">
			<a ng-click="setActiveProject(5); updateSlide();gotoElement('project-panel')">
				<div class="box p6">			  
					<div class="overlay">
						<h4 class="title">HatchGood</h4>
						<h5 class="desc">Full Stack (Node.JS)</h5>
					</div>			  
				</div>
			</a>
		</div>
	</div>
</div>
<div class="skills-panel">
	<div class="row">
		<div class="col-xs-12 visible-xs visible-sm">
			<div class="skills-box" ng-controller="skillsController">					
				<div class="title-box">
					<h2 class="title-label">My Skills</h2>
				</div>
				<div class="category-box" ng-repeat="set in skillsSet">
					<div class="category-title">
						<h4 ng-bind-html="set.category | unsafe"></h4>
					</div>
					<div class="skills-txt-box">
						<h4 class="skills-txt" ng-repeat="skill in set.skills">
							<span>{{skill.title}}</span>
							<img style="width:220px;height:125px;"src="assets/images/PackHire/pack-0.jpg"/>
						</h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="about-panel" class="about-panel">
	<div class="about-box">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="bio-img" src="assets/images/team.jpg"/>
			</div>
			<div class="col-xs-12 col-md-6">
					<div class="bio-box">
					<h2>About Me</h2>
					<div class="desc-txt-box">
						<h4>I joined IBM's Analytics Platform as a front-end software engineer in June 2015.</h4>
						<h4>I graduated from Northwestern University in 2015 studying Biological Sciences and Computer Science. During my time at Northwestern, I led <a href="http://www.nuisepic.com" target="_blank">EPIC</a>, the entrepreneurship student group, and created programs such as WildHacks, an intercollegiate hackathon, and Project Pitch, an entrepreneurship development program.</h4>
					</div>
					 <div class="social-box">
				        <a href="mailto:miketychen@gmail.com" target="_blank"><span class="glyph-icon flaticon-email5"></span></a>                
				        <a href="http://www.linkedin.com/in/miketychen" target="_blank"><span class="glyph-icon flaticon-linkedin11"></span></a>        
				        <a href="http://www.github.com/miketychen" target="_blank"><span class="glyph-icon flaticon-github17"></span></a>
				        <a href="http://drive.google.com" target="_blank"><span class="glyph-icon flaticon-application"></span></a>     
					</div>					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 footer">
				<h3 class="footer-txt">Made with   &nbsp; <i class="glyph-icon flaticon-cup"></i></h3>
			</div>
		</div>
	</div>
</div>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>