<div id="1-panel" class="data-panel project-desc-panel">
	<div class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Data Science</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>PackHire provides you with platform where you can turn people in your network into the best recruiters for your company. PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h4>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/Data/data-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title"><span class="desc-type">Role:</span> Software Engineering (Full Stack) , Product Management, Business Development</h4>
				<h4 class="title"><span class="desc-type">Technology used:</span> Node.js, HTML, CSS, Javascript, SASS, MongoDB, Express, Gulp</h4>
				<h4 class="title"><span class="desc-type">Description:</span> PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h4>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Data/data-1.jpg">		
		<img src="assets/images/Projects/Data/data-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology Stack</h1>
			</div>
		</div>
		<div class="row">
			<div id="3-panel" class="col-md-12">
				<h4 class="title"><span class="desc-type">Role:</span> Software Engineering (Full Stack) , Product Management, Business Development</h4>
				<h4 class="title"><span class="desc-type">Technology used:</span> Node.js, HTML, CSS, Javascript, SASS, MongoDB, Express, Gulp</h4>
				<h4 class="title"><span class="desc-type">Description:</span> PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h4>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Data/data-3.jpg">
		<img src="assets/images/Projects/Data/data-4.jpg">
	</div>
	<div id="tech-panel" class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology Stack</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title"><span class="desc-type">Role:</span> Software Engineering (Full Stack) , Product Management, Business Development</h4>
				<h4 class="title"><span class="desc-type">Technology used:</span> Node.js, HTML, CSS, Javascript, SASS, MongoDB, Express, Gulp</h4>
				<h4 class="title"><span class="desc-type">Description:</span> PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h4>
			</div>
		</div>
	</div>
	<%include common/_back.ejs %>
</div>