<div id="1-panel" class="data-panel project-desc-panel">
	<div class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Data Science Projects</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>My data science projects include a bioinformatics research project and a social media advertising data project.</h4>
				<h4>For my bioinformatics research project I created a pipeline that sequenced genomic human data and iteratively corrected the data for bias and noise. After the correction, I visualized the 3D architecture of the entire genome to determine methods of cancer detection based on nuclear architecture.</h4>
				<h4>For my social media advertising project, I created algorithms that automatically queried Facebook for statistics on the social ads. After the data is collected, I created algorithms to optimize engagement and insights on social ads such as increasing ad duration during peak engagements. The data is then stored for further analysis and optimzation by the 4C Insights data science team.</h4>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/Data/data-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">PITCH(Bioinformatics Project) has the following features:</h4>
				<ul>
					<li class="title">Reading &amp; analyzing 5GB+ of data</li>
					<li class="title">Statistically filtering &amp; correcting data</li>					
					<li class="title">Visual generation of heatmaps and circos plots</li>
					<li class="title">Human Genome Analysis between 23 chromosomes </li>
					<li class="title">Analysis of intra-chromosomal interactions</li>
				</ul>
				<h4 class="title">4C Insights Data Project has the following features:</h4>
				<ul>
					<li class="title">Facebook Graph API</li>
					<li class="title">Correction &amp; filter of data</li>					
					<li class="title">Visual generation of data after correction</li>
				</ul>

			</div>
		</div>
	</div>
	<div  class="img-panel-2">
		<img src="assets/images/Projects/Data/data-1.jpg">		
		<img id="3-panel" src="assets/images/Projects/Data/data-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">4C Data App &amp; PITCH (Genomic Architecture) were built on the following:</h4>
				<ul>
					<li class="title">Python</li>
					<li class="title">Java</li>
					<li class="title"><b>Version Control:</b> GitHub</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Data/data-3.jpg">
		<img src="assets/images/Projects/Data/data-4.jpg">
	</div>
	<%include common/_back.ejs %>
</div>