<div class="front-panel project-desc-panel">
	<div id="1-panel" class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Front-End Projects</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>My front-end projects consists of creating multiple sites for clients as well as organizations to visualize data and content in a meaningful and optimized way. All of the projects I build are fully-responsive and provide detailed instructions on how to update content on the site. Many of my sites are still being used in production after 2 years with 10,000+ views.</h4>
			</div>
		</div>
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box">
				<a href="http://www.wildhacks.org" target="_blank" class="visit-txt">Visit Front-End Apps</a>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/Front/front-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">My Front-End Projects have the following features:</h4>
				<ul>
					<li class="title">Fully Responsive Site</li>
					<li class="title">Mobile-First Architecture</li>					
					<li class="title">Task Automation for faster styling changes and updates</li>
					<li class="title">Segmented code for easier content edits</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Front/front-1.jpg">		
		<img id="3-panel" src="assets/images/Projects/Front/front-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">Most of the Front-End Apps were built on the following:</h4>
				<ul>
					<li class="title">HTML</li>
					<li class="title">Javascript</li>
					<li class="title">Gulp</li>
					<li class="title">Angular.JS</li>
					<li class="title"><b>Hosting:</b> Heroku, &amp; Custom Servers</li>
					<li class="title"><b>Version Control:</b> GitHub</li>
				</ul>
			</div>
		</div>
	</div>
	<div  class="img-panel-2">
		<img src="assets/images/Projects/Front/front-3.jpg">
		<img src="assets/images/Projects/Front/front-4.jpg">
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box visit-margin">
				<a href="http://www.wildhacks.org" target="_blank" class="visit-txt">Visit Front-End Apps</a>
			</div>
		</div>
	</div>
	<%include common/_back.ejs %>
</div>