<div class="hatch-panel project-desc-panel">
	<div id="1-panel" class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">HatchGood</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>HatchGood is a platform that allows designers to sell their furniture while allowing consumers to purchase well-designed products for less markup cost. We believe that everyone should have access to creating inviting and welcoming place. HatchGood makes designer goods more accessible.</h4>
			</div>
		</div>
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box">
				<a href="http://www.hatchgood.com" target="_blank" class="visit-txt">Visit HatchGood App</a>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/Hatch/hatch-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">HatchGood has the following features:</h4>
				<ul>
					<li class="title">Product listing and display</li>
					<li class="title">Voting of community generated products</li>					
					<li class="title">Ranking of most viewed product</li>
					<li class="title">Custom upload of products to HatchGood</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Hatch/hatch-1.jpg">		
		<img id="3-panel" src="assets/images/Projects/Hatch/hatch-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title ">Technology</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">HatchGood was built on the following:</h4>
				<ul>
					<li class="title"><b>Front-End:</b> HTML, CSS, Javascript, Gulp, &amp; Angular.JS</li>
					<li class="title"><b>Back-End:</b> Node.JS &amp; MongoDB</li>
					<li class="title"><b>Hosting:</b> Heroku</li>
					<li class="title"><b>Version Control:</b> GitHub</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/Hatch/hatch-3.jpg">
		<img src="assets/images/Projects/Hatch/hatch-4.jpg">
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box visit-margin">
				<a href="http://www.hatchgood.com" target="_blank" class="visit-txt">Visit HatchGood App</a>
			</div>
		</div>
	</div>
	<%include common/_back.ejs %>
</div>