<div class="pack-panel project-desc-panel">
	<div id="1-panel" class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">PackHire</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>PackHire provides you with platform where you can turn people in your network into the best recruiters for your company. PackHire provides you with platform where you can turn people in your network into the best recruiters for your company</h4>
			</div>
		</div>
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box">
				<a href="http://www.packhire.com" target="_blank" class="visit-txt">Visit PackHire App</a>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/PackHire/pack-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">PackHire has the following features:</h4>
				<ul>
					<li class="title">Social Media Integration (allowing users to easily share on all of their social media)</li>
					<li class="title">Statistical analysis of vital data points on how the job is doing in the network.</li>					
					<li class="title">Individualized analytics tracking for employees to follow their progress and impact on the job campaign.</li>
					<li class="title">Algorithmic scoring of candidates based on network graph </li>
					<li class="title">Campaign management system for HR to edit their job listing campaign</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="img-panel-2">
		<img src="assets/images/Projects/PackHire/pack-5.jpg">		
		<img id="3-panel" src="assets/images/Projects/PackHire/pack-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">PackHire was built on the following:</h4>
				<ul>
					<li class="title"><b>Front-End:</b> HTML, CSS, Javascript, Gulp, &amp; JQuery</li>
					<li class="title"><b>Back-End:</b> Ruby on Rails &amp; PostgreSQL</li>
					<li class="title"><b>Hosting:</b> Heroku</li>
					<li class="title"><b>Version Control:</b> GitHub</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/PackHire/pack-6.jpg">
		<img src="assets/images/Projects/PackHire/pack-4.jpg">
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box visit-margin">
				<a href="http://www.packhire.com" target="_blank" class="visit-txt">Visit PackHire App</a>
			</div>
		</div>
	</div>
	<%include common/_back.ejs %>
</div>