<div class="seam-panel project-desc-panel">
	<div  id="1-panel" class="text-panel">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">SEAM</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title">Our team was fed up with the way meetings occupied our lives - meetings that we didn't have to be in, meetings that ran way over time and meetings that made no decisions. After meetings, we would crawl back to our desks feeling unproductive and frustrated.</h4>
				<h4 class="title">So we created SEAM, a tool to help you feel productive in the meeting room. SEAM helps you plan for focused discussions, gives you the power to move the conversation forward and aligns your team on next steps at the end of the meeting.</h4>
			</div>
		</div>
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box">
				<a href="http://seam.herokuapp.com" target="_blank" class="visit-txt">Visit SEAM App</a>
			</div>
		</div>
	</div>
	<div id="2-panel" class="img-panel">
		<img src="assets/images/Projects/SEAM/SEAM-0.jpg">	
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Features</h1>
			</div>
		</div>
		<div class="row">
			<div id="3-panel" class="col-md-12">
				<h4 class="title">SEAM has the following features:</h4>
				<ul>
					<li class="title">Real-Time User Communication (Implemented via Socket.IO)</li>
					<li class="title">Automatic Email Generation &amp; Email Forwarding</li>
					<li class="title">Meeting Notes Aggregation &amp; Assignee</li>
					<li class="title">Auto-Management of Contact List &amp; Most Recently Added</li>
					<li class="title">In-Meeting 'Smart' Timer with Notification</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/SEAM/SEAM-1.jpg">		
		<img src="assets/images/Projects/SEAM/SEAM-2.jpg">
	</div>
	<div class="text-panel-2">
		<div class="row">
			<div class="col-md-12">
				<h1 class="project-title">Technology Stack</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4 class="title tech"><span class="desc-type">SEAM was built with <b>HTML</b>, <b>CSS</b>, <b>Javascript</b>, and <b>JQuery</b> on the front-end. <br>On the back-end SEAM runs on <b>Node.JS</b> with Socket.IO integration and <b>MongoDB</b> as the database.</h4>
			</div>
		</div>
	</div>
	<div class="img-panel-2">
		<img src="assets/images/Projects/SEAM/SEAM-3.jpg">
		<img src="assets/images/Projects/SEAM/SEAM-4.jpg">
	</div>
	<div class="text-panel-3">
		<div class="row">
			<div class="col-md-12 visit-box visit-margin">
				<a href="http://seam.herokuapp.com" target="_blank" class="visit-txt">Visit SEAM App</a>
			</div>
		</div>
	</div>
	<%include common/_back.ejs %>
</div>