.about-panel{
	width:100%;
	min-height:100%;
	background-color: $prim-color;
	padding: 0px 0 100px 0;
	.nav-box{
		width:95%;
		padding-top:30px;
		margin:0 auto;
		text-align: right;
		ul{
			list-style: none;
		}
		li{
			font-size: 20px;
			margin-right: 25px;
			float:right;
			a{
				color:$sec-color;
				font-family: 'Courier';
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
	.bio-img{
		position:absolute;
		margin-top: -60px;
		top:0;
		width:90%;
	}
	.bio-box{
		padding-top: 500px;
		padding-left: 20%;
		h4{
			font-size: 20px;
		}
	}
	.about-box{
		.desc-box{
			padding-left: 20%;
			.name-txt{
				font-weight: bold;
				font-size:45px;
				line-height: 3em;
			}
			h2{	
				color:$sec-color;
				margin-top: 30px;
				font-size: 30px;
			}
			a{
				color:$sec-color;
				text-decoration: underline;
			}
			a:hover{
				color:$tert-color;
			}
			.social-box{
				margin-top: 50px;
				text-align: left;
				a{
					text-decoration: none;
				}
				.glyph-icon{
					color:$sec-color;
					font-size: 30px;
					margin:0 25px 0 0;
				}
				.glyph-icon:hover{
					color:$tert-color;
				}
			}
			.hello-box{
				left:20px;
				top:-10px;
				position:absolute;
				h3{
					font-size: 40px;
					color:$quart-color;
				}
				h4{
					z-index: 1;
					opacity: 0.5;
					color:$quart-color;
					font-size: 30px;
				}
			}
			.project-box{
				margin-top: 37%;
				width:200px;
				height:100px;
				.project-txt{
					overflow:hidden;
					position:absolute;
					bottom:0;
					width:250px;
					height:63px;
				}
				h3{					
					color: $sec-color; 
					font-family: "Courier";
					font-size: 20px;
				}
			}
		}
	}
}