
		.all-projects-box{
			width:100%;
			margin:120px 0 0 0;
			.projects{
				position: relative;
				float:left;
				width:50%;
				height:auto;
				background-color: $prim-color;
				img{
					border:1px solid $prim-color;
				}
			}
			.text-content {
				cursor:pointer;
				font-size:18px;
				position: absolute;
				padding-top: 20%;
				text-align:center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(29, 106, 154, 0.92);
				color: #fff;
				visibility: hidden;
				opacity: 0;
			}
			.projects:hover .text-content {
			  visibility: visible;
			  opacity:1
			}
			.projects-2{
				float:left;
				width:25%;
				height:150px;
				background-color: $quart-color;
			}
		}