@keyframes height{ 
  from { 
    height: 0; 
    visibility:hidden;
  } 
  to{
    height:100%;
    visibility:visible;
  }
} 

@keyframes type{ 
  from { width: 0; } 
} 


@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $tert-color;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $tert-color;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $tert-color;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    border-color: $tert-color;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: $tert-color;
  }
}