.carousel-inner{
	.carousel-slide{
		border:15px solid rgb(220,220,220);
	}	
}
.carousel-control{
	width:50px;
	background-image: none!important;
	background-color: $sec-color!important;
	opacity:0.5;
}
.carousel-control:hover {
	opacity:0.8;
}
.carousel-control:hover .glyphicon{
	color:$white;
}
.glyphicon{
	text-shadow:none;
	color:rgb(180,180,180);
}
