.carousel-inner{
	.carousel-slide{
		border:15px solid rgb(220,220,220);
	}	
}
.carousel-control{
	width:20px;
	background-image: none!important;
	background-color: $sec-color!important;
	opacity:0.5;
}
.carousel-indicators{
	li{
		width:5px;
		height:5px;
		border-color: $sec-color;
	}
	li.active{
		height:7px;
		width:7px;
		background-color: $sec-color;
	}
	
}
.carousel-control:hover {
	opacity:0.8;
}
.carousel-control:hover .glyphicon{
	color:$white;
}
.glyphicon{
	text-shadow:none;
	color:rgb(180,180,180);
}


@media (min-width:$break-smaller) { 

}
@media (min-width:$break-small) { 
	.carousel-control{
		width:25px;
	}
}
@media (min-width:$break-med) { 
	.carousel-control{
		width:50px;
	}
	.carousel-indicators{
		li{
			width:10px;
			height:10px;
			border-color: $sec-color;
		}
		li.active{
			height:12px;
			width:12px;
			background-color: $sec-color;
		}
	}
}
@media (min-width:$break-lg) { 

}
@media (min-width:$break-xlg) { 

}