.main-panel{
	width:100%;
	min-height:100%;
	background-color: $prim-color;
	.nav-box{
		width:95%;
		margin:0 auto;
		text-align: right;
		ul{
			list-style: none;
		}
		li{
			font-size: 20px;
			margin-right: 25px;
			float:right;
			a{
				color:$tert-color;
				font-family: 'Cousine', ;
			}
			a:hover{
				text-decoration: underline;
			}
		}
	}
	.main-box{
		.desc-box{
			padding-left: 20%;
			.name-txt{
				font-size:45px;
				line-height: 3em;
			}
			h2{	
				color:$sec-color;
				margin-top: 30px;
				font-size: 28px;
			}
			a{
				color:$sec-color;
				text-decoration: underline;
			}
			a:hover{
				color:$tert-color;
			}
			.social-box{
				margin-top: 50px;
				text-align: left;
				a{
					text-decoration: none;
				}
				.glyph-icon{
					color:$sec-color;
					font-size: 30px;
					margin:0 25px 0 0;
				}
				.glyph-icon:hover{
					color:$tert-color;
				}
			}
			.hello-box{
				left:20px;
				top:-10px;
				position:absolute;
				h3{
					font-size: 40px;
					color:$quart-color;
				}
				h4{
					z-index: 1;
					opacity: 0.5;
					color:$quart-color;
					font-size: 30px;
				}
			}
			.project-box{
				margin-top: 37%;
				width:200px;
				height:100px;
				.project-txt{
					overflow:hidden;
					position:absolute;
					bottom:0;
					width:250px;
					height:63px;
				}
				h3{					
					color: $quart-color; 
					font-family: 'Cousine', ;
					font-size: 20px;
				}
			}
		}
		.skills-box{
			margin-top:80px;
			.category-box{
				width:100%;
				display: inline-block;
				.category-title{	
					float: left;			
					white-space: nowrap;
					h4{
						color:$tert-color;
						font-family: 'Cousine', ;
					}
				}
				.skills-txt-box{	
					margin-left: 20px;
					float: left;
					.skills-txt{
						cursor: pointer;
						img{
						    display: none
						}
						span:hover + img{
							margin-top: -20px;
							margin-left: 150px;
							position:absolute;
						    display: block;
						}
					}
					h4{
						font-size: 25px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.welcome-box{
		padding:21%;
		text-align: center;
		width:100%;
		height:100%;
		h1{
			font-weight: bold;
			font-size: 60px;
			line-height: .5em;
		}
		h2{
			color:$prim-color;
			line-height: .6em;
		}
		.social-box{
			margin-top: 15px;
			.glyph-icon{
				color:$prim-color;
				font-size: 30px;
				margin:0 15px;
			}
		}
	}
}