.main-panel{
	width:100%;
	min-height:100%;
	background-color: $prim-color;
	padding-bottom: 2%;
	z-index:99;
	.main-box{
		.desc-box{
			padding:0 6%;
			.name-txt{
				width: 30em;  
				white-space: nowrap;
				overflow: hidden;
				font-family: 'Open Sans', sans-serif;
				font-weight: bold;
				font-size:2.6em;
				line-height: 2em;
				color:$tert-color;
				animation: type 3s steps(60, end); 
				span{
					font-size:65px;
					font-weight: 600;
					-webkit-animation: 1.3s blink step-end infinite;
					-moz-animation: 1.3s blink step-end infinite;
					-ms-animation: 1.3s blink step-end infinite;
					-o-animation: 1.3s blink step-end infinite;
					animation: 1.3s blink step-end infinite;
				}
			}
			h2{	
				color:$sec-color;
				line-height: 1.3em;
				margin-top: 43px;
				font-size: 24px;
				font-weight: 600;
			}
			a{
				font-weight: 600;
				color:$sec-color;
				text-decoration: underline;
			}
			a:hover{
				color:$tert-color;
			}
			.social-box{
				margin-top:80px;
				a{
					text-decoration: none;
				}
				.glyph-icon{
					color:$tert-color;
					font-size: 30px;
					margin:0 1.4em 0 0em;
				}
				.glyph-icon:hover{
					color:$sec-color;
				}
				.last-icon{
					margin:0;
				}
			}
			.hello-box{
				left:20px;
				top:-10px;
				position:absolute;
				h3{
					font-size: 40px;
					color:$quart-color;
				}
				h4{
					z-index: 1;
					opacity: 0.5;
					color:$quart-color;
					font-size: 30px;
				}
			}
			.project-box{
				width:380px;
				height:200px;
				cursor:pointer;
				.project-txt{
					overflow:hidden;
					position:absolute;
					bottom:10px;
					width:350px;
					height:100px;
				}
				.down-txt{
					font-size: 43px;
					margin-top: -90px;
					bottom:50px;
					color:$quart-color;
				}
				.move-down{
					animation: moveD 2.5s infinite;
				}
				@keyframes moveD {
				  0%,100%{
				    margin-top: -90px;
				  }
				  50%{
				  	margin-top: -70px;
				  }
				}
				h3{					
					color: $quart-color; 
					font-family: 'Cousine', ;
					font-size: 25px;
				}
			}
		}
		.skills-box{
			width:88%;
			margin:60px auto;
			.category-box{
				width:100%;
				display: inline-block;
				margin-top: 8px;
				.category-title{	
					float: left;			
					white-space: nowrap;
					h4{
						color:$tert-color;
						font-family: 'Cousine', ;
					}
				}
				.skills-txt-box{	
					z-index:80;
					margin-top: -2px;
					margin-left: 20px;
					float: left;
					.skills-txt{	
						span{				
							color:$sec-color;	
							font-size: 20px;
							font-weight: 700;
							cursor: pointer;
						}
						img{
						    display: none
						}
						span:hover + img{
							margin-top: -20px;
							margin-left: 150px;
							position:absolute;
						    display: block;
						}
					}
				}
			}
		}
	}
}
.mobile-project-txt{
	position:absolute;
	text-align: center;
	margin-top: 26%;
	width:280px;
	height:100px;
	z-index:10;
}
@media (min-width:$break-smaller) { 
	.main-panel{
		.main-box{
			.desc-box{
				padding:0 6%;
				.name-txt{	
					margin-top:40px;				
					font-size:2.2em;
				}
				h2{						
					margin-top:50px;
					font-size: 1.5em;
				}
				.project-box{
					margin-top:14%;
				}
			}
		}
	}
}
@media (min-width:$break-small) { 
	.main-panel{
		.main-box{
			.desc-box{
				padding:0 6%;
				.name-txt{
					font-size:2.7em;
				}
				h2{
					font-size: 1.8em;
				}
				.social-box{
					margin-top:80px;
					text-align: left;
					.glyph-icon{
						margin:0 2.0em 0 0;
					}
					.last-icon{
						margin:0;
					}
				}
				.project-box{
					margin-top:18%;
				}
			}
		}
	}  		
	.mobile-project-txt{
		margin-top: 30%;
		width:330px;
	}
}
@media (min-width:$break-med) { 
	.main-panel{
		padding-bottom: 6%;
		.main-box{
			.desc-box{
				.project-box{
					.down-txt{						
						margin-left: 280px;
					}
				}
			}
		}
		.skills-box{
			margin-top:50px;
			.category-box{
				width:100%;
				display: inline-block;
				margin-top: 8px;
				.category-title{	
					float: left;			
					white-space: nowrap;
					h4{
						color:$tert-color;
						font-family: 'Cousine', ;
					}
				}
				.skills-txt-box{	
					z-index:80;
					margin-top: -2px;
					margin-left: 20px;
					float: left;
					.skills-txt{	
						span{				
							color:$sec-color;	
							font-size: 20px;
							font-weight: 700;
							cursor: pointer;
						}
						img{
						    display: none
						}
						span:hover + img{
							margin-top: -20px;
							margin-left: 150px;
							position:absolute;
						    display: block;
						}
					}
				}
			}
		}
	} 
}
@media (min-width:$break-lg) { 
	.main-panel{
		.main-box{
			.desc-box{
				margin-top: 60px;
				padding:0 14%;
				.name-txt{
					font-size:55px;
				}
				h2{
					font-size: 28px;
				}
				.intro-box{
					width:84%;
				}
				.social-box{
					margin-top:100px;
					.glyph-icon{
						margin:0 25px 0 0;
					}
				}
				.project-box{
					position:absolute;
					margin-top:20px;
					z-index: 10;
					width:380px;
					height:200px;
					.project-txt{
						width:380px;
						cursor:pointer;
					}
					.down-txt{
						cursor:pointer;
						font-size: 43px;
						margin-left: 280px;
					}
				}
			}
			.skills-box{
				padding-bottom:15%;
			}
		}
	} 
}
@media (min-width:$break-xlg) { 
	.main-panel{
		// background-color: yellow!important;
	}  
}