#toggle-nav{
	background-color: #232323;
}
.navbar{
	border:0;
	margin-bottom:0;
	width:100%;
	padding:0 2%;
	.navbar-toggle .icon-bar {
		background-color: $prim-color;
	}
	a{
		color:$prim-color;
	}
	.navbar-brand{
		font-size: 20px;
		font-weight: bold;
		color:$sec-color;
	}
	.navbar-center{
		margin-left:5%;
	}
	.navbar-right{
		a{
			color:$sec-color;
			font-weight: bold;
			font-size: 16px;
		}
		a:hover, a:focus{
			background-color:transparent;
			color:$prim-color;
		}
		.active{
			color:$prim-color;
		}
		li:hover{
			background-color: none;
		}
		li{
			margin-right: 25px;
		}
	}
}

.project-nav{
	background-color: #232323;
	.navbar-right{
		a{
			color:$sec-color;
		}
		h4{
			cursor: pointer;
			margin-top: 17px;
			color:$sec-color;
			font-weight: bold;
			font-size: 16px;
			margin-left:18px;
		}

	}
	.navbar-brand{
		color:$sec-color;
	}
}

@media (min-width:$break-smaller) { 
}
@media (min-width:$break-small) { 
	
}
@media (min-width:$break-med) { 
	.navbar{
		.navbar-brand{
			font-size: 25px;
		}
	}
	.project-nav{
		.navbar-right{
			h4{
				margin-left: 0;
			}
		}
	}
	#toggle-nav{
	background-color: transparent;	
	transition:background-color 0.5s ease;
	}
}
@media (min-width:$break-lg) { 

}
@media (min-width:$break-xlg) { 

}