.project-panel{
	padding-top:20px;
	.project-box{
		.nav-box{
			width:95%;
			margin:0 auto;
			.nav-mike{
				padding:0;
				margin-top: 5px;
			}
			.navigation{
				ul{
					list-style: none;
				}
				li{
					font-size: 20px;
					margin-right: 25px;
					float:right;
					a{
						text-align: right;
						color:$sec-color;
						font-family: 'Cousine', ;
					}
					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
		.projects-list-box{
			width:95%;
			margin:30px auto 0 auto;
			a{
				color:$sec-color;
				font-size: 20px;
				margin-right: 20px;
				cursor:pointer;
			}
			.active-txt{
				color:$prim-color;
			}
			a:hover{
				color:$prim-color;
			}
		}
		.individual-project-box{
			width:95%;
			margin:30px auto 0 auto;
			.project{
				width:100%;
				img{
					width:100%;
				}
			}
		}
		.all-projects-box{
			width:100%;
			margin:30px 0 0 0;
			.projects{
				float:left;
				width:25%;
				height:150px;
				background-color: $pent-color;
			}
			.projects-2{
				float:left;
				width:25%;
				height:150px;
				background-color: $quart-color;
			}
		}
	}
}