.project-desc-panel{
	width:100%;
	margin-top:80px;
	.project-title{
		font-size: 28px;
		text-align: center;
		font-weight: bold;
	}
	.title{
		font-size: 18px;
	}
	.text-panel{
		width:$mobile-container-width;
		margin:0 auto;
	}
	.text-panel-2{
		width:$mobile-container-width;
		margin:40px auto
	}
	.text-panel-3{
		width:$mobile-container-width;
		margin:20px auto;
		text-align:center;
		.project-title{
			line-height: 5em;
			font-size: 30px;
			font-weight: bold;
		}
		.back-txt{
			font-size: 20px;
		}
		.visit-box{
			margin-bottom: 20px;
			.visit-txt{
				font-size: 18px;
			}
		}
		.visit-margin{
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
	.img-panel{
		width:$mobile-container-width;
		margin:20px auto 0 auto;
		text-align: center;
		img{
			width:100%;
		}
	}
	.img-panel-2{
		width:$mobile-container-width;
		margin:20px auto 0 auto;
		img{
			float:left;
			width:100%;
		}
		img:nth-child(2) {
			margin-top:30px;
			margin-bottom: 30px;
		}
	}
}


@media (min-width:$break-smaller) { 
}
@media (min-width:$break-small) { 
	
}
@media (min-width:$break-med) { 
	.project-desc-panel{
		.project-title{
			margin-top: 30px;
			font-size: 30px;
		}

		.title{
			font-size: 20px;
		}
		.text-panel{
			width:60%;
		}
		.text-panel-2{
			width:60%;
			margin:40px auto;
		}
		.text-panel-3{
			width:60%;
			margin:20px auto;
			.project-title{
				line-height: 5em;
				font-size: 30px;
			}

			.back-txt{
				font-size: 30px;
			}

			.visit-box{
				margin-bottom: 20px;
				.visit-txt{
					margin-top: 30px;
				font-size: 22px;
				}
			}

			.visit-margin{
				margin-top: 35px;
				margin-bottom: 0;
			}
		}
		.img-panel{
			width:90%;
			margin:20px auto 0 auto;
			img{
				width:50%;
			}
		}
		.img-panel-2{
			width:85%;
			margin:20px auto 0 auto;
			img{
				width:50%;
			}
			img:nth-child(2) {
				margin:0;
			}
		}
	}
}
@media (min-width:$break-lg) { 

}
@media (min-width:$break-xlg) { 

}
