.project-desc-panel{
	width:100%;
	margin-top:80px;
	.text-panel{
		width:60%;
		margin:0 auto;
		.project-title{
			color:$prim-color;
			text-align: center;
			font-weight: bold;
		}
	}
	.text-panel-2{
		width:60%;
		margin:40px auto;
		.project-title{
			color:$prim-color;
			text-align: center;
			font-weight: bold;
		}
	}
	.text-panel-3{
		width:60%;
		margin:20px auto;
		text-align:center;
		.project-title{
			line-height: 5em;
			font-size: 30px;
			color:$prim-color;
			font-weight: bold;
		}
	}
	.img-panel{
		width:90%;
		margin:20px auto 0 auto;
		text-align: center;
		img{
			width:75%;
		}
	}
	.img-panel-2{
		width:85%;
		margin:20px auto 0 auto;
		img{
			float:left;
			margin: 0 3%;
			width:44%;
		}
	}
}