.project-desc-panel{
	width:100%;
	margin-top:80px;
	.text-panel{
		width:60%;
		margin:0 auto;
	}
	.text-panel-2{
		width:60%;
		margin:40px auto;
	}
	.text-panel-3{
		width:60%;
		margin:20px auto;
		text-align:center;
		.project-title{
			line-height: 5em;
			font-size: 30px;
			font-weight: bold;
		}
	}
	.img-panel{
		width:90%;
		margin:20px auto 0 auto;
		text-align: center;
		img{
			width:75%;
		}
	}
	.img-panel-2{
		width:85%;
		margin:20px auto 0 auto;
		img{
			float:left;
			margin: 0 3%;
			width:44%;
		}
	}
}

.project-title{
	text-align: center;
	font-weight: bold;
}

.pack-panel .project-title{
	color:$pack-color;
}

.seam-panel .project-title{
	color:$seam-color;
}
.data-panel .project-title{
	color:$data-color;
}
.twitter-panel .project-title{
	color:$twitter-color;
}
.front-panel .project-title{
	color:$front-color;
}
.hatch-panel .project-title{
	color:$hatch-color;
}