.splash-panel{
	width:100%;
	padding-bottom: 45%;
	z-index:99;
	.background-image {
		background-image: url('../assets/images/6.png');
		background-size: cover;
		filter: blur(1px);
		-webkit-filter: blur(1px);
		transform: scale(1.02);
		top:0;
		left:0;
		right: 0;
		position: absolute;
		z-index: 1;
	}
	.content {
		top:0;
		left:0;
		width:100%;
		position: absolute;
		z-index: 2;
		text-align: center;
		.txt{
			margin-top: 46.5%;
			color:$green;
			font-weight: 700;
			font-size: 35px;
			text-align: center;
		}
		.desc{
			margin-top: 5%;
			color:$white;
			font-weight: 700;
			font-size: 22px;
		}
		.social{
			margin-top: 15px;
			.glyph-icon{
				color:$green;
				font-size: 30px;
				margin:0 15px;
			}
		}
		.down-txt{
			padding-top: 150px;
			font-size: 35px;
		}
		.down-arr{
			
			cursor:pointer;
		}
		.move-down{
			animation: moveD 2.5s infinite;
		}
		@keyframes moveD {
		  0%,100%{
		    margin-top: 80px;
		  }
		  50%{
		  	margin-top: 30px;
		  }
		}
	}
}
.splash-panel{
	min-height: 100%;
	.background-image {
		height: 100%;
		background-image: url('../assets/images/6.png');
		background-size: cover;
		background-position: 50% 100px;

	}
}
@media (min-width:$break-smaller) { 
}
@media (min-width:$break-small) { 
	
}
@media (min-width:$break-med) { 
.splash-panel{
	.background-image {
		height: 100%;
	}
	.content{
		.txt{
			margin-top: 20.5%;
			font-size: 60px;
		}
		.desc{
			margin-top: 2%;
			font-size: 40px;
		}
	}
}
}
@media (min-width:$break-lg) { 

}
@media (min-width:$break-xlg) { 

}