.splash-panel{
	width:100%;
	padding-bottom: 45%;
	z-index:99;
	// background: url('../assets/images/2.jpg')  no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;



	.background-image {
		background-image: url('../assets/images/6.png');
		background-size: cover;
		display: block;
		filter: blur(3px);
		-webkit-filter: blur(3px);
		transform: scale(1.02);
		height: 100%;
		top:0;
		left:0;
		right: 0;
		position: absolute;
		z-index: 1;
	}
	.content {
		top:0;
		left:0;
		width:100%;
		position: absolute;
		z-index: 2;
		text-align: center;
		.txt{
			margin-top: 20.5%;
			color:$green;
			font-weight: 700;
			font-size: 60px;
			text-align: center;
		}
		.desc{
			margin-top: 2%;
			color:$white;
			font-weight: 700;
		}
		.social{
			margin-top: 15px;
			.glyph-icon{
				color:$green;
				font-size: 30px;
				margin:0 15px;
			}
		}
		.down-txt{
			cursor:pointer;
			padding-top: 150px;
			font-size: 35px;
		}
		.move-down{
			animation: moveD 2.5s infinite;
		}
		@keyframes moveD {
		  0%,100%{
		    margin-top: 80px;
		  }
		  50%{
		  	margin-top: 30px;
		  }
		}
	}

}