<div class="skills-panel">
	<div class="row">
		<div class="col-xs-12 visible-xs visible-sm">
			<div class="skills-box" ng-controller="skillsController">					
				<div class="title-box">
					<h2 class="title-label">My Skills</h2>
				</div>
				<div class="category-box" ng-repeat="set in skillsSet">
					<div class="category-title">
						<h4 ng-bind-html="set.category | unsafe"></h4>
					</div>
					<div class="skills-txt-box">
						<h4 class="skills-txt" ng-repeat="skill in set.skills">
							<span>{{skill.title}}</span>
							<img style="width:220px;height:125px;"src="assets/images/PackHire/pack-0.jpg"/>
						</h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>