<!doctype html>
<html>
    <% include partials/general/_head.ejs %>
    <body>    	
		<% include projects/_nav.ejs %>
    	<% include projects/_front.ejs %>
		<% include partials/general/_js.ejs %>
        <script src="js/project.js"></script>
    </body>
</html>