<!doctype html>
<html>
    <% include partials/general/_head.ejs %>
    <body>
		<% include partials/_mainPanel.ejs %>
		<% include partials/general/_nav.ejs %>
		<% include partials/_topProjectsPanel.ejs %>
        <% include partials/_skillsPanel.ejs %>
        <% include partials/_aboutPanel.ejs %>
		<% include partials/general/_js.ejs %>        
        <script src="js/main.js"></script>
    </body>
</html>